*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Special Elite", cursive;
  background-color: #f9fbfd;
}
img {
  text-align: justify;
  height: 35vh;
  width: 100%;
  border-radius: 1rem;
  opacity: 0.5;
}
.wrapper {
  padding-top: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

header {
  text-align: center;
  padding: 0.2rem;
  padding-top: 0rem;
  font-size: 3rem;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  border-width: 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.2rem 0.8rem 0rem;
  color: hsl(206, 17%, 28%);
  font-size: 2rem;
  margin: 0 auto;
  max-width: 80rem;
  padding: 3rem 4rem;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 0.2rem;
}

.card-body {
  min-height: 25rem;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 0.2rem;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 1rem 6rem 0rem rgba(0, 0, 0, 0.2) 0rem
    1rem 1rem 0rem;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 2.2rem;
  line-height: 2.2rem;
  margin: 1.6rem 1.6rem 1.6rem 2rem;
  padding: 1.4rem 3.4rem;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 8.5rem;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.2rem dashed #c0c7cf;
  border-radius: 0.6rem;
  resize: none;
  overflow: hidden;
}

p {
  text-align: center;
  font-size: 3rem;
  color: hsl(206, 17%, 28%);
  padding: 1.5rem;
}
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 1.6rem 0rem 0rem 0rem;
    padding: 1rem 1.5rem;
  }

  #password {
    font-size: 2rem;
    color: rgb(10, 10, 77);
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
